<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728143990650-66b02ctesqr84q8i4s1kc482nobvebld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728143990650-66b02ctesqr84q8i4s1kc482nobvebld</string>
	<key>API_KEY</key>
	<string>AIzaSyCnxBCONUD7E7IUQ5BXMBVEhR84WcnrpGE</string>
	<key>GCM_SENDER_ID</key>
	<string>728143990650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-66d78</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-66d78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728143990650:ios:a9fb5a62efeb76d93410c3</string>
</dict>
</plist>